body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: darkslategrey;
    color: bisque;
    text-align: center;

    background-image: none;
}
#timer{font-size: 2cm;
font-weight: bold;
margin-top: 40px;}